<div class="container" xmlns:th="http://www.w3.org/1999/html">
    <div class="row rounded">
        <div class="col-12">
            <head th:insert="fragments/nav :: nav"></head>
        </div>
    </div>
    <!-- row -->
    <div class="row tm-mt-big justify-content-center">
        <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12">
            <div class="bg-white tm-block">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Add new role to user</h2>
                    </div>
                </div>
                <div class="row mt-4 tm-edit-product-row">
                    <div class="col-xl-7 col-lg-7 col-md-12">
                            <div th:if="${error != null && error.length() != 0}" th:text="${error}"
                                 class="alert alert-danger" role="alert"></div>
                        <form th:action="@{/roles/add}" th:method="POST" th:object="${role}"
                              class="tm-edit-product-form">
                            <div class="input-group mb-3">
                                <label for="username"
                                       class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Users</label>
                                <select th:field="*{username}"
                                        class="custom-select col-xl-9 col-lg-8 col-md-8 col-sm-7" id="username"
                                        name="username">
                                    <option th:value="'Select user'" selected>Select user</option>
                                    <option th:each="user : ${users}"
                                            th:value="${user.username}"
                                            th:text="${user.username}">
                                    </option>
                                </select>
                            </div>
                            <div th:each="err :${#fields.errors('username')}" th:text="${err}"
                                 cholass="alert alert-warning" role="alert">
                                This is a warning alert—check it out!
                            </div>
                            <div class="input-group mb-3">
                                <label class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Users</label>
                                <div>
                                    <input type="radio" id="user" name="role" value="user">
                                    <label for="user">User</label><br/>
                                    <input type="radio" id="admin" name="role" value="admin">
                                    <label for="admin">Admin</label><br/>
                                </div>
                            </div>
                            <div th:each="err :${#fields.errors('role')}" th:text="${err}" class="alert alert-warning"
                                 role="alert"></div>
                            <div class="input-group mb-3">
                                <div class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                                    <button id="send-btn" type="submit" class="btn btn-primary">Add
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 mx-auto mb-4">
                        <img src="/img/admin.gif" alt="Exercise picture" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
